/* Disna Joy 8912839 */
body{
    height : 100vh;
    width : 100vw;
    background-color: hsla(281, 60%, 64%, 0.3);
    font: normal normal normal 12px/1.5 Verdana, Arial, helvetica, sans-serif;
    padding: 2em;
}
h2{
    color: #fc0;
    font-size: 2rem;
}